<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock %}</title>

  {% block staticfiles %}{% endblock %}

  {% load static %}
  <!-- Bootstrap core CSS -->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

  {% load static %}
  <!-- Custom styles for this template -->
  <link href="{% static "css/clean-blog.min.css" %}" rel="stylesheet">
  <link href="{% static "css/clean-blog.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/comment.css" %}">

</head>
<body>
    <h3>The password was changed successful</h1>
    <a href="{% url 'users:user_profile' request.user.pk %}">Come Back to profile</a>
</body>