<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock %}</title>

  {% block staticfiles %}{% endblock %}

  {% load static %}
  <!-- Bootstrap core CSS -->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

  {% load static %}
  <!-- Custom styles for this template -->
  <link href="{% static "css/clean-blog.min.css" %}" rel="stylesheet">
  <link href="{% static "css/clean-blog.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/comment.css" %}">

</head>
<body>
    <form action="" method="POST">{% csrf_token %}
        <div class="form-group">
            <label>Old password:</label><br>
            {{ form.old_password }}
            {% if form.errors.new_password2 %}
                <div class="alert alert-danger">{{ form.errors.old_password }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label>New password:</label><br>
            {{ form.new_password1 }}
            {% if form.errors.new_password2 %}
                <div class="alert alert-danger">{{ form.errors.new_password1 }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label>Confirmat password:</label><br>
            {{ form.new_password2 }}
            {% if form.errors.new_password2 %}
                <div class="alert alert-danger">{{ form.errors.new_password2 }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Change password</button>
    </form>

</body>

