<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'posts:list_post' %}">SoftBlog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "posts:list_post" %}">Posts</a>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "posts:create_post" %}">Create Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "users:user_profile" request.user.pk %}">My Profile</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "users:login" %}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "users:register" %}">Register</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "chat:index" %}">Chat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "contact" %}">Contact</a>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "users:logout" %}">Exit</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>